@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

html {
  color: var(--light);
  --font: "Operator Mono", monospace;
  font-family: var(--font);
  --light: #fff;
  --dark: #000;
  font-size: 30px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  font-family: var(--font);
}

button {
  @apply text-balance;
  background: var(--light);
  color: var(--dark);
  font-family: var(--font);
  border-radius: 50px;
  font-weight: 600;
  padding: 10px 20px;
}

body {
  background: var(--light);
  color: var(--dark);
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 500px;
  margin: 0 auto;
  input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--dark);
  }
}
